$Primary: #FFFAC2;
.herobtn{
    align-items: flex-end;
    justify-content: flex-start;
}
.hero{
    padding-top: 100px;
}
.padd100{
    margin-top: 40px;
    margin-bottom: 40px;
}
.vid{
    padding-top: 120px;
    padding-bottom: 40px;
}
.bgs{
    background-color: $Primary;
}
.brandLogo{
    filter: grayscale(100%);

}
.brandLogo:hover{
    filter: grayscale(0%);
}
.padding100{
	padding-top: 100px;
}
.padding40{
	padding-top: 40px;
}
@media only screen and (max-width: 901px) {
    .padd100{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .herobtn{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .hero{
        padding-top: 30px;
    }
}
@media only screen and (max-width: 701px) {
    .brandLogo{

        padding-right: 40px;
        padding-left: 40px;
    }
}